<html>
<head title=""/>
<body>
<div>
  <style  type="text/css">
 		body, td {
			font-size: 12px;
			font-family:  arial, helvetica, sans-serif;
		}
		.itemtbl {
			margin-top:20px;
		}
		.itemtbl tr td {
			padding: 10px;
			color: #333;
		}
		tr.itemheading td {
			border:1px solid #ccc;
			border-right:none;
			border-left:none;
			padding:5px 10px 5px 10px;
			color: #333333;
		}
		.padtoptwty {
			padding-top:20px;
		}
		tr.last td {
			border-bottom:none;
		}
		tr.itemrepeat td {
			border-bottom:1px dashed #ccc;
		}
		.itemtbl {
			margin-top:20px;
		}
		.itemtbl tr td {
			padding: 10px;
			color:  #333;
		}
		.content {
			margin-top: 30px;
			color:#333;
		}
		.mainheading {
			color:#333333;
			font-weight:bold;
		}
		.confirm {
			color: #4c8f3a;
		}
		.greeting {
			color:#333333;
			font-weight:bold;
		}
		.status {
			font-size:14px;
			color:#C88039;
			font-weight:bold;
			text-decoration:none;
		}
		.strong {
			font-weight: bold;
		}
		.valign {
			vertical-align: middle;
		}
		.purchasebox {
			width: 598px;
		}
		.purchasetitle {
			border-bottom:1px solid #ccc;
			padding:5px 0 5px 10px;
		}
		.purchaseboxmul {
			border:1px solid #ccc;
			margin:10px 0 10px 0;
			padding-bottom:10px;
		}
		.purchasetotal {
			border-top: 1px solid #ccc;
			border-bottom: 1px solid #ccc;
		}
		.purchasetotal {
			margin: 7px 0 20px 0;
		}
		.purchasetotal tr td {
			padding-bottom:20px;
		}
		.purchasetotalmul {
			border-top: 1px solid #ccc;
			width : 580px;
		}
		.purchasetotalmul img, .purchasetotal img {
			margin-top: 20px;
		}
		.purchasedetails tr td {
			color:#333;
			padding-top:15px;
		}
		.purchasedetailsmul tr td {
			color:#333;
			padding:20px 0 0 10px;
		}
		.headinfo {
			color:#333333;
		}
		hr {
			color: #dedede;
			height:1px;
		}
		.totaltbl {
			margin-top: 20px;
			width: 100%;
		}
		.totaltbl tr td {
			text-align:right;
			color:  #333;
			padding:0 5px 0 0;
			width: 90px;
		}
		.totaltblmlt {
			margin: 10px 0 0 10px;
		}
		.totaltblmlt tr td {
			text-align:right;
			color:  #333;
			width: 85px;
		}
		.totaltblmlt tr td.subhd, .totaltbl tr td.subhd {
			width: 390px;
			padding-right: 10px;
			text-align:right;
		}
		.clr {
			clear:both;
		}
		.airtbl {
			margin-top : 30px;
			width:320px;
		}
		.emphasis {
			color:#333333;
			font-weight:bold;
		}
		.padleftten {
			padding-left: 10px;
		}
		.option {
			color: #aaaaaa;
		}
		.fmf {
			color:red;
		}
		.airtbl tr td {
			padding-right: 15px;
			color:  #757575;
			padding-bottom: 5px;
		}
		.tblfooter {
			color:  #757575;
			padding-left:10px;
		}
		.help {
			margin-right: 5px;
			vertical-align:  middle;
		}
		.footercontainer {
			width:400px;
		}
		.exchange {
			width:100%;
		} 							       /*For 26568 spec */
		.headerDetails {
			color:#000000;
			font-weight:bold;
		}
		.description {
			color:#333333;
		}
		.topBorder {
			border-top:1px solid #CCCCCC;
		}
		.bottomBorder {
			border-bottom:1px solid #CCCCCC;
		}
		.bottomMargin {
			margin:7px 0 20px;
		}
		.redFmf {
			color:#ff0000;
		}
		.padBottom {
			padding-bottom:20px;
		}
		.contentNew {
			color:#666666;
		}
		HR.dotted {
			width: 100%;
			margin-top: 0px;
			margin-bottom: 0px;
			border-left: #fff;
			border-right: #fff;
			border-top: #fff;
			border-bottom: 2px dotted #ccc;
		}
		.useNextBox {
			background:#FFFFFF url(http://www.paypal.com/en_US/i/scr/scr_table_bg_1x70.gif) repeat-x scroll left bottom;
			border:1px solid #CCCCCC;
			border-collapse:separate;
			padding:10px 10 20px 10px;
			width:530px;
			margin-left:20px;
			margin-top:20px;
			color:#333333;
			font-family:arial, helvetica, sans-serif;
			font-size:11px;
		}
		.boxHead {
			width:530px;
			padding-bottom:10px;
			border-bottom:1px solid #CCCCCC;
			text-align:left;
		}
		.boxHeadingTxt {
			font-size:12px;
			font-weight:bold;
		}
		.padBoxTop {
			padding-top:10px;
		}
		.SignupLink {
			color:#084482;
		}
					
  </style>
  <table align="center" border="0" cellpadding="0"  cellspacing="0" width="100%">
    <tr>
      <td align="left">&nbsp;</td>
    </tr>
    <tr>
      <td align="left">&nbsp;</td>
    </tr>
  </table>
  <table  align="center" border="0" cellpadding="0"  cellspacing="0" width="95%">
    <tr valign="top">
      <td  width="100%"><table align="center" border="0"  cellpadding="0" cellspacing="0" style="color:#333333;font-family: arial,helvetica,sans-serif;font-size:12px;"  width="100%">
          <tr valign="top">
            <td align="left"><h2>Promogram.me</h2><br/></td>
          </tr>
          
        </table>
        <div  style="margin-top: 30px;color:#333;font-family:  arial,helvetica,sans-serif;font-size:12px;"><span  style="color:#333333;font-weight:bold;font-family:  arial,helvetica,sans-serif;">Hello  <%=user_name%>,</span><br/>
          <br/>
          <span  style="font-size:14px;color:#C88039;font-weight:bold;text-decoration: none;">You have successfully subscribed to Promogram's Free plan</span><br/>
          <table  cellpadding="5">
            <tr>
              <td valign="top">Hence forth, we will automatically deliver 100 likes to all new posts you make to your instagram account<br/>
                <br/>
                <span style="text-decoration: underline;">Important note:</span> This service lasts for <span style="color:#930">24 hours</span> and will expire tomorrow<span style="color:#930"></span>. Once you are satisfied we encourage you to purchase a bronze, silver or gold plan from <a href="http://promogram.me">promogram.me</a><br/>
                <br/>
                You can also cancel this service anytime from our website.<br/>
                <br/></td>
              <td/>
            </tr>
          </table>
          <br/>
          <!--
          <div  style="margin-top:5px;">
            <hr size="1"/>
          </div>
          -->
          Questions? contact <a href="mailto:support@promogram.me">support@promogram.me</a><br/>
          <br/>
        </div></td>
    </tr>
  </table>
</div>
</body>
</html>