@charset "UTF-8";
/* CSS Document */


.green1 {
	background-color: #2dd172;
}
.green2 {
	background-color: #4dd887;
}
.green3 {
	background-color: #28b96a;
}
.green4 {
	background-color: #43c27d;
}
.blue1 {
	background-color: #2d3e50;
}
.blue2 {
	background-color: #455565;
}
.grey1 {
	background-color: #f7f8fa;
}
.grey2 {
	background-color: #eeeff1;
}
.grey3 {
	background-color: #e3e4e6;
}
.grey4 {
	background-color: #CCCDCF;
}

.gold1 {
	background-color: #FF944D;
}

.gold2 {
	background-color: #E68545;
}


.tab-container {
	box-shadow: 0 1px 2px #999;
	border-radius: 10px;
}
.period {
	font-size: 13px;
	line-height: 13px;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin: 8px 0 17px;
}


.likes {
	font-size:55px;
	margin-bottom:0px
}

.price {
	font-size:20px;
	margin-bottom:2px;
	margin-top:-8px
}
.pricesmall {
	font-size:14px;
	margin-bottom:2px;
	margin-top:-8px
}

.bottomround {
	-webkit-border-radius: 0 0 10px 10px;
	-moz-border-radius: 0 0 10px 10px;
	border-radius: 0 0 10px 10px;
}

.topround {
	-webkit-border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;
}


.btn-outline-gold {
	color:#FFFFFF;
	background-color:#FF7519;
	border-color:#FFA366
}
.btn-outline-gold:active, .btn-outline-gold:focus, .btn-outline-gold:hover {
	color:#FFFFFF;
	background-color:#B84A00;
	border-color:#FFA366
}


.btn-outline-green {
	color:#006600;
	background-color:#00E600;
	border-color:#99FF99
}
.btn-outline-green:active, .btn-outline-green:focus, .btn-outline-green:hover {
	color:#FFFFFF;
	background-color:#00B200;
	border-color:#99FF99
}
