@charset "UTF-8";
/* CSS Document */


.green1 {
	background-color: #2dd172;
}
.green2 {
	background-color: #4dd887;
}
.green3 {
	background-color: #28b96a;
}
.green4 {
	background-color: #43c27d;
}
.blue1 {
	background-color: #2d3e50;
}
.blue2 {
	background-color: #455565;
}
.grey1 {
	background-color: #f7f8fa;
}
.grey2 {
	background-color: #eeeff1;
}
.grey3 {
	background-color: #e3e4e6;
}

.tab-container {
	box-shadow: 0 1px 2px #999;
	border-radius: 10px;
}
.period {
	font-size: 12px;
	line-height: 12px;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin: 5px 0 17px;
}


.likes {
	margin-bottom:5px;
	font-size:55px;
	font-weight:150;
	color:#ffffff
}

.price {
	margin-bottom:5px;
	font-size:28px;
	font-weight:150;
	color:#ffffff
}